article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

#map_canvas img,
.google-maps img {
  max-width: none;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

input[type="search"] {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  -webkit-appearance: textfield;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0 none;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0 none;
  padding: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

@media print {
  * {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  @page  {
    margin: 0.5cm;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

body {
  margin: 0;
  font: 14px Microsoft YaHei;
  color: #333333;
  background-color: #EAEEF1;
}

a {
  color: #0088cc;
  text-decoration: none;
}
select, input, img, select {
  vertical-align: middle;
}
a:hover,
a:focus {
  color: #005580;
  outline: 0 none;
}


#top{
	background:url("./img/top_bg.png");
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	height: 73px;
	z-index: 999999999;
}

.mark{
	clear:both; height:0; overflow:hidden; line-header:0;
	height: 60px;
	width: 100%;
}

#logo{
	float: left;
	background:url("./img/logo.png") no-repeat 0px 2px;
	width: 188px;
	height: 60px;
}

.icon{
	background-image:url("./img/icon.png");
}
.icoTencentWeibo {
  background-position: -100px 0;
  display: inline-block;
  height: 23px;
  margin-right: 10px;
  width: 24px;
}
.icoTencentWeibo:hover{
  background-position: -134px 0;
}
.icoSinaWeibo {
  background-position: -169px 0;
  display: inline-block;
  height: 25px;
  width: 28px;
}
.icoSinaWeibo:hover {
  background-position: -208px 0;
}
.icoManual {
  background-position: -302px -130px;
  display: inline-block;
  height: 89px;
  width: 78px;
}
.icoQuestions {
  background-position: -247px 1px;
  display: inline-block;
  float: left;
  height: 20px;
  margin-right: 5px;
  width: 20px;
}

.icowaibu{background-image:url("./img/waibu.png");}
.icofabu{background-image:url("./img/fabu.png");}
.iconews{background-image:url("./img/news.png");}

.icoOCR{background-position: 0px -40px;}
.icoCode{
	background-position: -98px -40px;
}
.icoPhone{background-position: -193px -40px;}
.icoCRM{background-position: -290px -40px;}
.icoSofware{background-position: 0px -125px;}

.bg{
	background-image:url("./img/map.png");
	width: 280px;
}

.bgManual{
  background-position: -24px -212px;
  display: inline-block;
  height: 470px;
}

#nav{
	float: right;
	margin-top: 14px;
}

#nav a{
	color: #000000;
	display: block;
	float: left;
	font-size: 18px;
	height: 32px;
	line-height: 30px;
	margin: 0 15px;
	text-align: center;
	text-decoration: none;
	width: 90px;
}

#nav .active{
	background-position: 0px 0px;
	background-image:url("./img/icon.png");
	color: white;
}

#nav .active:hover{
	color: white;
}

#nav a:hover{
	text-decoration: none;
	color: #666666;
}

.section{
	width: 960px;
	margin: 0px auto;
}

#banner{
	height: 380px;
	width: 100%;
	background-color: black;
}

#banner .section{
	background:url("./img/pic.jpg") 1px -18px;
	height: 380px;
}

#server{
	position: relative;
}

#server .title{
	border-bottom: 1px solid #FFFFFF;
	clear: both;
	height: 45px;
	line-height: 45px;
	width: 640px;
}

.title h2{
	border-bottom: 1px solid #BFBFBF;
	color: #323232;
	font-size: 32px;
	height: 44px;
}

#server .list{
	width: 640px;
}

#server .list dl dt {
  float: left;
  margin-right: 15px;
  width: 92px;
}

#server .list dl {
  clear: both;
  display: block;
  height: 82px;
  line-height: 1.6em;
  margin: 25px 0;
}

#server .list dt {
  display: inline-block;
  height: 75px;
  width: 92px;
}

#server .list dd {
	color: #5A5A5A;
}

#server .list dl dd h3 {
  color: #000000;
  font-size: 18px;
  margin-bottom: 5px;
}

#server .contact{
	width: 275px;
	position: absolute;
	right:0px;
	top: 0px;
}

.weibo {
  clear: both;
  height: 26px;
  margin-bottom: 10px;
  text-align: right;
  display: ;
}

.manual{
	clear: both;
}

.manual dl {
  clear: both;
  height: 90px;
  padding: 6px 15px 6px 20px;
}

.manual dl dt  h2{
	margin-bottom: 2px;
	font-size: 20px;
	color: #333333;
}
.manual dl dt {
  color: #666666;
  float: left;
  font-size: 14px;
  margin-top: 10px;
}

.phoneNo {
	margin: 38px 0px 0px 62px;
}

.phoneNo h3{
	font-size: 16px;
}

.searchBg {
	margin: 38px 0px 0px 62px;
}

.searchBg input{
	margin-top: 14px;
	font-size: 16px;
}

.msg p{
	height: 78px;
	color: #666666;
}

.msg a{
	height: 45px;
	width: 240px;
	line-height: 45px;
	text-align: center;
	font-size: 18px;
	display: block;
	color: #666666;
}

.msg a:hover{
	color: #0088CC;
}

.msg{
	padding: 49px 20px 0px 20px;
}

.msg h2{
	margin-bottom: 10px;
	font-size: 17px;
}

.manual dl dt p {
  font-size: 11px;
}

.manual dl dd {
  float: right;
}

.manual dl dd a{
	display: block;
	width: 100px;
	height: 100px;
}

.rBox {
  background: -moz-linear-gradient(center top , #FFFFFF 0px, #ECEDEE 100%) repeat scroll 0 0 transparent;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 3px 5px 0 #C3C4C6;
  clear: both;
  margin-bottom: 20px;
  width: 270px;
}

.subFooter {
  background: url("./img/subFooterBg.png") no-repeat scroll center 0 transparent;
  clear: both;
  height: 30px;
  margin-top: 50px;
  padding-top: 20px;
  text-align: center;
  width: 960px;
  color: #868686;
  font-size: 11px;
}

#case{
	
}

#case .title {
  border-bottom: 1px solid #FFFFFF;
  text-align: center;
  height: 45px;
}

#case .title h2 {
	color: #4A4A4A;
	font-size: 32px;
	text-align: center;
}

#case .map .section{
	background: url("./img/case.png") no-repeat scroll 0 0 transparent;
	height: 456px;
}

#case .map{
	background: url("./img/caseBg.jpg") repeat-x scroll 0 0 transparent;
	height: 421px;
	overflow: hidden;
	margin-bottom: 35px;
}

.map{
	height: 456px;
}

#case .list {
  height: 300px;
}

#case .list dl {
  float: left;
  margin: 20px 35px 15px 15px;
  width: 270px;
}

#case .list dl dt img {
  border: 5px solid #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  height: 140px;
  width: 260px;
}

#case .list dl dd {
  color: #5A5A5A;
  line-height: 1.6em;
  margin: 0 5px;
}

#case .list dl dd h3 {
  border-bottom: 1px dotted #B5B5B6;
  color: #1E1E1E;
  font-size: 18px;
  line-height: 1.8em;
  margin: 10px 0;
}

#story .map {
  background: url("./img/storyBg.jpg") repeat-x scroll 0 0 transparent;
}

#story .map .section{
	background: url("./img/story.png") no-repeat scroll 0 0 transparent;
	height: 456px;
}

#story h2{
	margin-bottom: 7px;
}

#story p{
	color: #5A5A5A;
}

#about{

}

#about .map {
  background: url("./img/comimage.png") repeat-x scroll 0 0 transparent;
}

#about .title {
  text-align: center;
  clear: both;
  margin-bottom: 30px;
}

#about .title h2 {
  border-bottom: 1px solid #BFBFBF;
  color: #4A4A4A;
  font-size: 32px;
}

#footer {
  background-color: #DFE0E4;
  border-top: 1px solid white;
  font-size: 12px;
  height: 50px;
  line-height: 1.5em;
  padding-top: 19px;
  text-align: center;
  width: 100%;
}

#about .content{
	position: relative;
}

#about .content .list{
	width: 640px;
}

#about .content .list dl {
  margin-bottom: 30px;
}

#about .content .list dl dt {
  background: url("http://im-img.qq.com/macqq/images/supportLine.png?t=20120814") no-repeat scroll center bottom transparent;
  height: 40px;
  padding-left: 10px;
}

#about .content .list dl dt h3 {
  color: #2A2E36;
  font-size: 16px;
}

#about .content .list dl dd {
  color: #5A5A5A;
  font-size: 14px;
  line-height: 1.8em;
  padding-left: 15px;
}

#about .content .list dl dd p {
  line-height: 1.8em;
  margin-bottom: 10px;
}

#about .content .list dl dd p a {
  color: #65A3DE;
  text-decoration: underline;
  white-space: nowrap;
}

#map{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 280px;
	height: 190px;
	background: url("./img/map.png") no-repeat scroll -23px -19px transparent;
}

#map h2{
	color: #1E1E1E;
	font-size: 18px;
	line-height: 40px;
	margin: 0 43px;
}
























