    .pd_title
        {
            font-size: 16px;
            line-height: 35px;
            color: #0066cc;
            text-align: center;
            margin: 20px;
            font-weight: bold;
            border-bottom: #CCCCCC dotted 1px;
        }
        .contentinfo
        {
            line-height: 24px;
            text-align: center;
            color: #999;
            padding-right: 15px;
        }
        .pd
        {
            font-size: 14px;
            line-height: 28px;
            color: #333333;
            text-align: left;
        }
        body{background:#ffffff url(img_1.gif) repeat-x top;margin:0px; font-size:12px; font-family:"����";}
#main{  width:980px;margin:0 auto;padding:0px auto;}
#header{ width:980px;}
#bd{width:980px;  margin-top:8px;}
.clear{ clear:both;}
#footer{width:980px;background:#cccccc; margin-top:8px; clear:both;}
a{color:#5c5b5a;
	text-decoration: none;
	}	
a:hover{
	color:#fc6804;
	}
#header_logo{ margin:15px 0px; float:left;}
#header_top{ height:64px; float:right; width:369px;}
#header_nav{clear:both; background:url(img_7.gif) repeat-x center top;  line-height:38px;}
.header_navl{ float:left;margin:0px; padding:0px;}
.header_nav2{ float:right; margin:0px; padding:0px;}
#header_banner{height:201px; margin-top:5px;}
.nav_ul{ margin:0px 0px 0px 30px; padding:0px; font-size:14px; height:38px; line-height:38px;}
.nav_ul li{ margin:0px;padding:0px;font-size:14px;color:#FFFFFF;float:left;margin-left:32px;list-style-type: none;}
.nav_ul li a{font-size:14px; font-weight:bold; color:#FFFFFF;padding:0px 15px; float:left; text-decoration: none;}
.nav_ul li a:hover{font-size:14px; font-weight:bold; color:#ffff00; float:left;}
.topwd{ color:#636668; font-size:12px; font-family:"����"; margin:20px 50px 5px 0px; text-align:right;}


.footer_logo{ float:left; margin-top:25px; margin-left:25px;}
.footer_words{ float:right; width:600px; line-height:21px;  text-align:left;font-family:Arial, "����"; font-size:11px; color:#888888; margin-right:25px; margin-top:15px;padding-bottom:10px;}
#footer_cp{ background:url(img_9.gif) repeat-x top; height:77px;}

#bd_left{ width:192px;float:left;}
.bd_left1{border:1px solid #e1e1e1;}
.bd_left1_title{ background:url(img_11.gif) repeat-x top; height:28px;}
.title1_img{ float:left; margin-left:6px; margin-top:5px;}
.title1{ color:#FFFFFF; font-size:14px; font-weight:bold; float:left; line-height:28px; margin-left:10px;}
.more1{ color:#ffffff; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; float:right; line-height:28px; margin-right:5px;}
.more1 a{ color:#ffffff; text-decoration:none;}
.more1 a:hover{ color:#ffff00; text-decoration:underline;}
.bd_left1_content{ }
.ul2{
	clear:both;
	margin:10px;
	padding:0px;
	text-align:left;
	font-family:"����";
	font-size:12px;
	}	
.ul2 li{
	font-family:"����";
	font-size:12px;
	line-height:24px;
	height:24px;
	list-style-type: none;
	color:#5c5b5a;
	display:block;
	padding:0px;
	display:block;
	background:url(mb_14.gif) no-repeat left bottom;
	}	
.ul2 li a{
	font-family:"����";
	font-size:12px;
	line-height:24px;
	height:24px;
	color:#5c5b5a;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2 li a:hover{
	color:#fc6804;
	}
.ul2 .date{
	color:#999999;
	float:right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.bd_left2{border:1px solid #e1e1e1; margin-top:8px; background:url(mb_16.gif) no-repeat bottom center; height:175px;}
.bd_left2g{border:1px solid #e1e1e1; margin-bottom:8px; background:url(mb_16.gif) no-repeat bottom center; }
.bd_left2_content{ }
.select {
	font-family: "����";
	font-size: 12px;
	color: #666666;
	margin:8px;
}
.input {
	font-family: "����";
	font-size: 12px;
	color: #666666;
	margin:8px;
}
.announ li {width:180px;height:22px;line-height:22px;overflow:hidden;}
#bd_right{ width:780px;float:right;}
#bd_rightL{ width:586px; float:left;}
.bd_rightL1{border:1px solid #e1e1e1;}
.bd_rightL1_title{ background:url(img_12.gif) no-repeat left top; height:28px;}
.more2{ color:#0066cc; font-size:10px; font-family:Arial, Helvetica, sans-serif; font-weight:normal; float:right; line-height:28px; margin-right:5px;}
.more2 a{ color:#0066cc;text-decoration:none;}
.more2 a:hover{ color:#0066cc;text-decoration:underline;}
.bd_rightL1_content{height:188px;overflow:hidden;}

.bd_rightL2{border:1px solid #e1e1e1; margin-top:5px; height:178px;}
.bd_rightL2_content{overflow:hidden;width:558px;height:140px;}

#bd_rightR{ width:185px; float:right;}
.bd_rightR2_content ul.announ {width:178px;overflow:hidden;}



.p{ font-size:12px; line-height:24px; color:#666666; margin:10px; text-align:left; font-family:Arial, "����";}
.imgp{  padding:3px;border:1px solid #e1e1e1; float:right; margin:8px;}

.prod_box{float:left;display:block;text-align:center; margin-left:13px; margin-top:15px;}
img.prod{border:1px solid #dddddd;width:120px;height:98px; padding:3px;}
a.prod_font{padding:0px;text-decoration:none;color:#777777; line-height:28px;}


/*---------product---------*/
.bd_rightp{width:780px;border:1px solid #e1e1e1; }
.bd_rightp_title{ background:url(img_12.gif) no-repeat left top; height:28px;}
.bd_rightp_content{ }

.prodp_box{float:left;display:block;text-align:center; margin-left:23px; margin-top:20px;}
img.prodp{border:1px solid #dddddd;width:145px;height:118px; padding:4px;}
a.prodp_font{padding:0px;text-decoration:none;color:#777777; line-height:28px;}
.more3{ color:#0066cc; font-size:12px; font-family:"����"; font-weight:normal; float:right; line-height:28px; margin-right:10px;}
.more3 a{ color:#0066cc;text-decoration:none;}
.more3 a:hover{ color:#0066cc;text-decoration:underline;}


/*---------news---------*/

.ul2d{
	clear:both;
	margin:20px;
	padding:0px;
	text-align:left;
	font-family:"����";
	font-size:14px;
	}	
.ul2d li{
	line-height:28px;
	height:28px;
	list-style-type: none;
	color:#5c5b5a;
	display:block;
	padding:0px;
	background:url(mb_14g.gif) no-repeat left bottom;
	}	
.ul2d li a{
	color:#5c5b5a;
	text-decoration: none;
	margin-left:15px;
	}	
.ul2d li a:hover{
	color:#fc6804;
	}
.ul2d .date{
	color:#999999;
	float:right;
	font-size:10px;
	font-family:Arial, Helvetica, sans-serif;
}

.pd_title{font-size:16px; line-height:35px; color:#0066cc; text-align:center; margin:20px; font-weight:bold; border-bottom:#CCCCCC dotted 1px;}
.pd{ font-size:14px; line-height:28px; color:#333333; text-align:left; margin:25px;}

.title1 a,.title a,.title2 a {color:white;}

.bd_rightR2_content ul.announ {width:162px;overflow:hidden;}


#menu {padding:0px 1px;padding-top:10px;}
#menu ul ul {float:left; padding:0 0 5px 0; margin:0; list-style:none; font: 10px verdana, sans-serif;   position:relative; z-index:200;}
* html #menu ul li {float:left;}
#menu ul li ul a {font-weight:normal;}
#menu ul li:hover {position:relative; z-index:300;}
#menu ul ul {position:absolute; left:-9999px; top:-9999px;}
* html #menu ul, * html nav ul {width:1px;}
#menu ul li:hover > ul {left:0px; margin-left:100%; top:0px;}
#menu ul li:hover > ul ul {position:absolute; left:-9999px; top:-9999px; width:auto;}
#menu ul li:hover > a {text-decoration:underline;color:#FFF;}
#menu ul li:hover ul,
#menu ul li:hover li:hover ul,
#menu ul li:hover li:hover li:hover ul,
#menu ul li:hover li:hover li:hover li:hover ul,
#menu ul li:hover li:hover li:hover li:hover li:hover ul
{left:0px; margin-left:100%; top:0px;}
#menu ul li:hover ul ul,
#menu ul li:hover li:hover ul ul,
#menu ul li:hover li:hover li:hover ul ul,
#menu ul li:hover li:hover li:hover li:hover ul ul
{position:absolute; left:-9999px; top:-9999px;}
#menu ul li:hover a,
#menu ul li:hover li:hover a,
#menu ul li:hover li:hover li:hover a,
#menu ul li:hover li:hover li:hover li:hover a,
#menu ul li:hover li:hover li:hover li:hover li:hover a,
#menu ul li:hover li:hover li:hover li:hover li:hover li:hover a
{text-decoration:underline; color:#FFF;}
#menu ul li:hover li a,
#menu ul li:hover li:hover li a,
#menu ul li:hover li:hover li:hover li a,
#menu ul li:hover li:hover li:hover li:hover li a,
#menu ul li:hover li:hover li:hover li:hover li:hover li a
{text-decoration:none; color:#FFF;}

#menu a {display:block;width:90px;  height:34px;line-height:34px;padding:0px 10px; border-bottom:1px solid #ccc;border-right:1px solid #ccc;background:url(navmenu_bg.png);font-size:12px;font-weight:normal; text-decoration:none; white-space:nowrap;}

#menu ul li a.one {display:block; width:151px; height:40px;line-height:40px;padding:0px 0px 0px 30px;font-size:14px;font-weight:bold; color:#333;text-decoration:none; white-space:nowrap;background:white;border:none;}

#menu ul li a.one:hover,#menu ul li a.on {background:url(menu_hover.gif) 1px top no-repeat;width:151px;height:40px;padding:0px 0px 0px 30px;line-height:40px;font-size:14px;font-weight:bold;color:white; text-decoration:none;}


.list-view{
float:left; 
width:158px; 
text-align:center;  
margin:0  0px 5px 18px; 
vertical-align:100%;
} 	

.img-wrap{
	margin:0 auto;   
	width:126px;
  margin-bottom:10px;
	overflow:hidden; 
	/*��IE������������ʶ���Ĵ�ֱ���еķ���*/
	vertical-align:middle;
	/*����ˮƽ����*/                
	text-align:center;							
}

.img-wrap img {
	display:block;
	width:90%;  
	vertical-align:middle;
	padding:5%;
	border:1px solid #ccc;
	_border:none;
	background:url(images/pic_bg.gif) left top no-repeat;
	border-right:1px solid white; 
	border-bottom:1px solid white;
	/*��IE������������ʶ���Ĵ�ֱ���еķ���*/
	vertical-align:middle;
	/*����ˮƽ����*/
	text-align:center;
  }


  


/* ����ͼƬ */
.scroll{ width:552px; margin:auto; position:relative; padding:0px 30px 0px 40px; overflow:hidden; margin-bottom:10px;}
.scroll ul{}
.scroll li { width:126px; text-align:center; overflow:hidden; padding:0 5px; vertical-align:100%;}
.scroll li a{ display:block; color:#333; line-height:20px;font-size:12px;}

.scroll .img-wrap{
  margin:0 auto;
  width:90%;
  /*��IE������������ʶ���Ĵ�ֱ���еķ���*/
  vertical-align:middle;
  /*����ˮƽ����*/
  text-align:center;
  /* ����IE��Hack */
  *display: block;
  *font-size: 139px;/*ԼΪ�߶ȵ�0.873��200*0.873 ԼΪ175*/
  *font-family:Arial;/*��ֹ��utf-8������hackʧЧ���⣬��gbk����*/
}
.scroll img {
  display:block;
  width:100px;
  margin:0px auto 10px;
  vertical-align:middle;
  padding:5px;
  border:1px solid #ccc;
  _border:none;
  background:url(images/pic_bg.gif) left top no-repeat;
  border-right:1px solid white; 
  border-bottom:1px solid white;
  }
.scroll img:hover,#list-view .highlight{border-color:#ff8015;_border:none;}


.scroll li span {color:#F3572F;}
.scroll a.bx-prev,.scroll a.bx-next{
	position:absolute;
	top:0;
	display:block;
	width:40px;
	height:108px;
	background: url(images/scroll.gif) no-repeat left center;
	z-index:99999;
}
.scroll a.bx-prev{left:-24px;}
.scroll a.bx-prev:hover{background: url(images/scroll.gif) no-repeat -80px center;}
.scroll a.bx-next{right:-24px;background: url(images/scroll.gif) no-repeat -40px center;}
.scroll a.bx-next:hover{background: url(images/scroll.gif) no-repeat -120px center;}


@charset "utf-8";
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li,
pre,
form, fieldset, legend, button, input, textarea, 
th, td
{margin:0px;padding:0px;}
fieldset, img {border:0;}
li {list-style:none;}
body,button, input, select, textarea /* for ie */ {font: 78%/1.5 tahoma,Helvetica,arial, "\5b8b\4f53", sans-serif;}
address, cite, dfn, em, var { font-style: normal; } 
code, kbd,samp { font-family: courier new, courier, monospace; }

ins {text-decoration:none;}
del {text-decoration:line-through;}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 2em;}
h2 {font-size: 1.7em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.38em;}
h5 {font-size: 1.2em;}
h6 {font-size: 1.1em;font-style: italic;}
address,cite,dfn,em,var{font-style:normal;}
caption,td {font-weight: normal;}
cite, blackquote, em, i {font-style: italic;}
strong, b {	font-weight: bold;}
pre, code {font-family: monospace;font-size: 1.1em;}
abbr[title],acronym[title]{border-bottom:1px dotted;cursor:help;}

table {	border-collapse:collapse;border-spacing:0;}

q:before, q:after, blockquote:before, blockquote:after {content:"";content:none}
blockquote, q {	quotes:none;}

legend { color: #000; }
button, input, select, textarea { font-size: 100%; }
a{ text-decoration: none; }
a:hover{ text-decoration: underline; }
html{color:#000;background:#FFF;}


.clear{ clear:both;}
.pa5{ padding:5px;}
.pa10{ padding:10px;}
.pl10{ padding-left:10px;}
.pr10{ padding-right:10px;}
.pt10{ padding-top:10px;}
.pb10{ padding-bottom:10px;}
.pl5{ padding-left:5px;}
.pr5{ padding-right:5px;}
.pt5{ padding-top:5px;}
.pb5{ padding-bottom:5px;}
.ma5{ margin:5px;}
.ma10{ margin:5px;}
.ml10{ margin-left:10px;}
.mr10{ margin-right:10px;}
.mt10{ margin-top:10px;}
.mb10{ margin-bottom:10px;}
.ml5{ margin-left:5px;}
.mr5{ margin-right:5px;}
.mt5{ margin-top:5px;}
.mb5{ margin-bottom:5px;}


.fl{ float:left;}
.fr{ float:right;}

.tl{ text-align:left;}
.tr{ text-align:right;}
.tc{ text-align:center;}

.fb{ font-weight:bolder;}
.f12{ font-size:12px;}
.h12{ line-height:12px;}
.f13{ font-size:13px;}
.h13{ line-height:13px;}
.f14{ font-size:14px;}
.h14{ line-height:14px;}
.f16{ font-size:16px;}
.h16{ line-height:16px;}
.f18{ font-size:18px;}
.h18{ line-height:18px;}
.f20{ font-size:20px;}
.h20{ line-height:20px;}

.ti{text-indent: 24px;}


.c_red, a.c_red, a.c_red:visited, a.c_red:link,.c_red a {color:#F00;}
.c_green, a.c_green, a.c_green:visited, a.c_green:link,.c_green a {color:#090;}
.c_blue, a.c_blue, a.c_blue:visited, a.c_blue:link,.c_blue a {color:#225D92;}
.c_blue_1, a.c_blue_1, a.c_blue_1:visited, a.c_blue_1:link,.c_blue_1 a {color:#1E77D3;}
.c_blue_2, a.c_blue_2, a.c_blue_2:visited, a.c_blue_2:link,.c_blue_2 a {color:#039;}
.c_yellow, a.c_yellow, a.c_yellow:visited, a.c_yellow:link,.c_yellow a {color:#FF0;}
.c_gray, a.c_gray, a.c_gray:visited, a.c_gray:link,.c_gray a {color:#666;}
.c_white, a.c_white, a.c_white:visited, a.c_white:link,.c_white a {color:#FFF;}

.t_1 a {color:white;}

.blank5 {clear:both;height:5px;overflow:hidden;}
.blank10 {clear:both;height:10px;overflow:hidden;}


/*  */

/************* 分页 */

.pages {
  clear:both;
  margin:0px 10px;
}

.pages strong {
  color:#555;
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  background:#F5F5F5;
  border:1px solid #ccc;
  margin: 0px 3px 0px 0px;
}
.pages a {
  display:block;
  float:left;
  height:18px;
  line-height:18px;
  float:left;
  padding:0px 8px;
  border:1px solid #CCC;
  text-decoration:none;
  margin: 0px 3px 0px 0px;
  color:#555;
}

.pages span {
  float:right;
}


/****************内容*/
#title h1 {

  line-height:40px;
  padding-top:20px;
  font-size:22px;
  text-align:center;
  background:url(point.gif) left bottom repeat-x;
  color:#333;
  font-weight:bold;
}

.contentinfo {
  line-height:24px;
  text-align:center;
  color:#999;
  padding-right:15px;
}

.contentinfo a {color:#999;}

.text {
  padding:30px 20px;
  text-align:14px;
  line-height:200%;
  color:#333;

}



.floatright {float:right;}
.floatleft {float:left}

.blank10,.blank30 {clear:both;height:10px;overflow:hidden;}
.blank30 {height:30px;}

/*工具*/
#tool {
	font-size:12px;
	line-height:20px;
	border-top:1px solid #DDD;
	border-bottom:1px solid #DDD;
	height:20px;
	margin:10px 0;
	padding:10px 0 10px 10px;
	overflow: hidden;
}
#tool ul {
	float:left;
}
#tool ul li {
	float:left;
	width:90px;
	line-height:20px;
}
#tool .commentary, #tool .print, #tool .copy, #tool .email, #tool .close, #tool .rss_2, #tool .t_1, #tool .t_2, #tool .t_3 {
	background-image: url(tool.gif);
	background-repeat: no-repeat;
	background-position: left -20px;
	height:20px;
	line-height:20px;
	padding:0 0 0 25px;
	display:block;
	margin:0 10px 0 0;
	color:#333;
}
#tool .print {
	background-position: left -40px;
}
#tool .copy {
	background-position: left -80px;
}
#tool .email {
	background-position: left -100px;
}
#tool .close {
	background-position: left -60px;
}
#tool .rss_2 {
	background-position: left -120px;
}
#tool .t_1 {
	background-position: left -140px;
}
#tool .t_2 {
	background-position: left -160px;
}
#tool .t_3 {
	background-position: left -180px;
}

#tool .t_4 {padding-left:20px;background:url(comment.gif) left 0px no-repeat;}

/************* 分类列表 */
.news_list {
  padding:10px;
}

.news_list li {
  clear:both;
  line-height:28px;
  padding-left:15px;
  border-bottom:1px dotted #999;
  background:url(icon06.gif) left 12px no-repeat;
}

.news_list li a {
  color:#666;
}

.category_title {
  clear:both;
  line-height:28px;
  color:#333;
  padding:0px 15px 0px 30px;
  margin-bottom:10px;
  background:#F5F5F5 url(icon04.gif) 10px 10px no-repeat;
  border-bottom:1px solid #ccc;
}

.category_title span {
  float:right;
}

.category_title h4 {
  font-size:14px;
}

.news_text h5,.news_text_pic h5 {
  float:right;
  width:555px;
  font-weight:bold;
  font-size:12px;
  text-align:left;
  color:#333;
  padding-left:20px;
  background:url(icon05.gif) left 6px no-repeat;
}

.news_text h5 {
  width:700px;
}

.news_text h5,.news_text_pic h5 a {
  color:#333;
}

.news_list .date,.news_text h5 .date,.news_text_pic h5 .date,.strgrade {
  float:right;
  padding-right:15px;
  color:#999;
  font-weight:normal;
}

.strgrade {
  display:block;
  width:180px;
  text-align:left;
}

.news_list p {
  margin:5px;
  padding:5px 5px 5px 20px;
  background:#FFF;
  text-indent:2em;
}

.news_text,.news_text_pic {
  clear:both;
  height:auto;
  padding:10px 0px;
  border-bottom:1px dotted #ccc;
}


.news_text p,.news_text_pic p {
  float:right;
  width:570px;
  text-align:left;
  color:#999;
  padding:5px;
  text-indent:2em;
}

.news_text p {
  width:720px;
}

a.news_text_img {
  display:block;
  float:left;
  width:120px;
  height:100px;
  overflow:hidden;
  border:1px solid #ccc;
}

.news_text_img img {
  
  width:120px;
  height:auto;
  margin-right:15px;
}

.list1 a,.list2 a,.list3 a {
  padding-right:30px;
  background:url(new.gif) right 2px no-repeat;
}

/************* 产品 */
.product_box {
  float:left;
  width:142px;
  margin:5px 14px;
  _margin:5px 11px;
  padding:5px;
  background:url(piclist_1.png) right top no-repeat;
  overflow:hidden;
}
.product_box img {
  width:142px;
}

.product_box a {
  display:block;
  width:142px;
  height:114px;
  font-size:12px;
  overflow:hidden;
  color:#333;
}

.product_box h5 {
  margin-top:10px;
  text-align:center;
  font-weight:normal;
}

.product_box h5 a {
  height:44px;
  line-height:18px;
}

.p_info {
  height:20px;
  line-height:20px;
  padding-left:30px;
  background:url(bullet1.gif) left top no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

/************* 当前位置 */
#position {
  line-height:22px;
  padding-bottom:35px;
  color:#999;
  text-align:right;
  background:url(point.gif) left 26px repeat-x;
}

#position a {
  height:12px;
  line-height:12px;
  padding:7px 10px;
  background:url(icon02.gif) left 9px no-repeat;
  color:#999;
}

/************* 搜索 */
#search {
  height:18px;
  line-height:18px;
margin-bottom:20px;
}

#inputsearch { 
  border:none;
  margin:0px;
  padding:0px 0px 0px 17px;
  width:140px;
  height:18px;
  line-height:18px;
  font-size:12px;
  color:#666;
  background:url(search_input.gif); 
}

.s_btn {width:17px;height:18px;border:none;background:url(search.gif);}

/************* 代码高亮 */
.dp-HighLighter {border:1px solid #ccc;background:#F7F7F7 url(codebg.gif) left top repeat-y;}
.dp-HighLighter ol {padding-left:40px;}
.dp-HighLighter ol li {
  padding-left:10px;
  list-style-type:decimal;
}
.tools {padding-left:10px;background:#F7F7F7;border-bottom:1px solid #ccc;}

/************* 投票 */
.vote-list {padding:10px;}

.vote-list li {
  clear:both;
  height:20px;
  line-height:20px;
  font-size:12px;
  text-align:left;
}

.vote-list #button {
  float:right;
}

#ballot {
  height:10px;
  _height:16px;
  margin:0px 5px 0px 0px;
}

.date {float:right;color:#999;}

.list li {padding-left:20px;background:url(icon05.gif) left center no-repeat;}

.copyright {clear:both;margin:10px 0px;text-align:center;}

ul#navmenu {z-index:99;position: relative; }

ul#navmenu li { 
margin: 0; 
border: 0 none; 
padding: 0; 
float: left; /*For Gecko*/ 
display: inline; 
list-style: none; 
position: relative; 

} 
ul#navmenu ul { 
margin: 0; 
border: 0 none; 
padding: 0; 
width: 200px; 
list-style: none; 
display: none; 
position: absolute; 
top: 38px; 
left: 0; 

} 
ul#navmenu ul li { 
line-height:28px;
float: none; /*For Gecko*/ 
display: block !important; 
display: inline; /*For IE*/ 
} 

ul#navmenu ul li a {
background:url(images/navmenu_bg.png) repeat-y left top;
background:url(images/navmenu_bg.png) no-repeat left top !important; 
/*For Firefox*/
*background:none;
/*For IE7 & IE6*/
_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/navmenu_bg.png',sizingMethod='crop');
width:180px;
height:28px;
line-height:28px;
display:block;
}

/* 2nd Menu */ 
ul#navmenu li:hover li a, 
ul#navmenu li.iehover li a { 
float: none; 
color: #FFF; 
font-size:12px;
height:28px;
line-height:28px;
font-weight:normal;
padding:0px 10px 0px 10px;
border-bottom:1px solid #888;
} 
/* 2nd Menu Hover Persistence */ 
ul#navmenu li:hover li a:hover, 
ul#navmenu li:hover li:hover a, 
ul#navmenu li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover a { 
color: #FFF; 
background:none;
} 
/* 3rd Menu */ 
ul#navmenu li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 3rd Menu Hover Persistence */ 
ul#navmenu li:hover li:hover li a:hover, 
ul#navmenu li:hover li:hover li:hover a, 
ul#navmenu li.iehover li.iehover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover a { 
color: #FFF; 
} 
/* 4th Menu */ 
ul#navmenu li:hover li:hover li:hover li a, 
ul#navmenu li.iehover li.iehover li.iehover li a { 
color: #FFF; 
} 
/* 4th Menu Hover */ 
ul#navmenu li:hover li:hover li:hover li a:hover, 
ul#navmenu li.iehover li.iehover li.iehover li a:hover { 
color: #FFF; 
} 
ul#navmenu ul ul, 
ul#navmenu ul ul ul { 
display: none; 
position: absolute; 
top: 0; 
left: 200px; 
} 
/* Do Not Move - Must Come Before display:block for Gecko */ 
ul#navmenu li:hover ul ul, 
ul#navmenu li:hover ul ul ul, 
ul#navmenu li.iehover ul ul, 
ul#navmenu li.iehover ul ul ul { 
display: none; 
} 
ul#navmenu li:hover ul, 
ul#navmenu ul li:hover ul, 
ul#navmenu ul ul li:hover ul, 
ul#navmenu li.iehover ul, 
ul#navmenu ul li.iehover ul, 
ul#navmenu ul ul li.iehover ul { 
display: block; 
} 

#content {line-height:200%;font-size:14px;}
#content table {font-size:12px;}



.list_text_pic {float:left;width:140px;  vertical-align:100%;}


#list-view h5 a {
clear:both;
  width:142px;
  overflow:hidden;
  height:18px;
  line-height:18px;
  margin-top:10px;
  font-size:12px;
   text-align:center;
  font-weight:normal;
}
#list-view span {color:red;}
#list-view h5 p {height:18px;
  line-height:18px;}
.back,.btn {
  display:block;
  clear:both;
  width:72px;
  height:21px;
  line-height:20px;
  margin:15px 0px;
  padding-left:10px;
  background:url(images/back.gif) left top no-repeat;
  text-align:center;
  color:white;
  font-size:12px;
  text-decoration: none;
  border:none;
}

.back a,.back a:hover {text-decoration: none;color:white;}

.input_d {
  width:190px;
  height:29px;
  line-height:29px;
  padding:0px 10px;
  background:url(images/input_bg_d.gif) left top no-repeat;
  border:none;
  font-size:12px;
}



.input_c {
  width:39px;
  height:21px;
  line-height:21px;
  padding:0px 10px;
  background:url(images/input_bg_c.gif) left top no-repeat;
  border:none;
  font-size:12px;
}

#addcontentuser {
  padding:5px;background:#E47C01;color:white;
}

#catid {height:27px;
  line-height:27px;border:1px solid #999;color:#333;}
.top_input{ float:left; padding-left:8px;}

.top_inputimg{ 
float:left; margin-left:8px; padding:0px 8px;height:27px;
  line-height:27px;color:white;
  background:url(images/btn.gif) right top no-repeat;border:none;
  }

.top_input input {margin:10px 0px;
	background-image: url(sm_2.gif);
	background-repeat: no-repeat;
	background-position: left;
	border:1px solid #999;color:#999;
	height:25px;
  line-height:25px;
	text-align: left;
	text-indent: 24px;
	color:#CCC;
	font-size:12px;
}


/****************评论*/
#comment {
  margin-top:20px;
  font-size:12px;
}

#comment input {font-size:12px;}

.comm {
  height:28px;
  line-height:28px;
  padding-left:35px;
  background:url(images/comment.gif) 10px 7px no-repeat;
}

.input {
  width:72px;
  height:21px;
  line-height:21px;
  padding-left:10px;
  border:none;
  font-weight:bold;
  font-size:12px;
}

#textarea {
  width:100%;
  height:50px;
  background:#FFF url(images/cmslogo.gif) right bottom no-repeat;
  border-top:1px solid #E0DDDD;
  border-right:1px solid #E0DDDD;
  border-bottom:1px solid #E0DDDD;
  border-left:1px solid #E0DDDD;
}
.comment_list {padding:0px 20px;}
.comment_list dd {font-size:12px;background:url(images/point.gif) left bottom repeat-x;}
.comment_list dt span {float:right;color:#ccc;}

.commentnumber {padding:0px 5px;color:#CC0000;}

.comment_list dt strong {color: #70AADA;}

.comment_list dd.admin_reply  {margin:10px; padding:10px;border:1px dotted #ccc; background:#FFFFEE;}

.p_info,.d_info {
  height:20px;
  line-height:20px;
  padding-left:20px;
  background:url(images/rank_1.gif) left center no-repeat;
  color:#0D61BA;
  font-size:14px;
  font-weight:bold;
}

form, fieldset, legend, button, input, textarea, table, tr, td
{margin:0px;padding:0px;}